In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("../CSVs/Finais/docentes_e_avaliação.csv", sep=";")

In [31]:
from cryptography.fernet import Fernet

In [32]:
#key = Fernet.generate_key()
#FhDUhl0GmKaaHdsjXpdMNMIFjuly7wWU3JgFbYmNs50=

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126294 entries, 0 to 126293
Data columns (total 18 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   nome                        126294 non-null  object
 1   sexo                        126294 non-null  object
 2   formacao                    126294 non-null  object
 3   vinculo                     126294 non-null  object
 4   categoria                   126294 non-null  object
 5   classe_funcional            126294 non-null  object
 6   lotacao                     126294 non-null  object
 7   id_turma                    126294 non-null  int64
 8   ano                         126294 non-null  int64
 9   periodo                     126294 non-null  int64
 10  qtd_discentes               126294 non-null  int64
 11  postura_profissional_media  126294 non-null  float64
 12  postura_profissional_DP     126294 non-null  float64
 13  atuacao_profissional_media  126294 non-null  float64
 14  atuacao_profissional_DP     126294 non-null  float64
 15  autoavaliacao_aluno_media   69850 non-null   float64
 16  autoavaliacao_aluno_DP      69850 non-null   float64
 17  ano_admissao                126294 non-null  int64
dtypes: float64(6), int64(5), object(7)
memory usage: 17.3+ MB

In [34]:
key = b"FhDUhl0GmKaaHdsjXpdMNMIFjuly7wWU3JgFbYmNs50="  #
fernet = Fernet(key)

df["nome"] = df["nome"].apply(lambda x:fernet.encrypt(x.encode()).decode())

df.head()

,nome,sexo,formacao,vinculo,categoria,classe_funcional,lotacao,id_turma,ano,periodo,qtd_discentes,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,ano_admissao
0,gAAAAABoK5E6j5TbqZPDJ5NYzMxdBZriI-CsNEuDKbVirf...,M,MESTRADO,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,C ...,ESCOLA DE MÚSICA,57597342,2017,1,11,9.86,0.36,9.86,0.35,9.67,0.55,1998
1,gAAAAABoK5E6R1hu4dSPg8FkFOEIEmcEYHlYvmPJzZEPPd...,F,DOUTORADO,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,Classe A - Auxiliar ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,1207402,2013,2,17,9.57,0.84,9.49,1.25,8.89,1.93,2009
2,gAAAAABoK5E6eAVCeUnbWC3nbkQx-aLvuBnJzHRQosKbFN...,F,DOUTORADO,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,Classe A - Auxiliar ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,1224417,2014,1,9,9.29,1.38,9.23,1.51,8.76,1.73,2009
3,gAAAAABoK5E6qJDKzYFcqZH3pJgHamgSiwc4TQHNCtoo1d...,F,DOUTORADO,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,Classe A - Auxiliar ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,1239782,2015,1,14,9.80,0.52,9.80,0.56,9.13,1.73,2009
4,gAAAAABoK5E6U5XZ1G27srNXBhH4mD1rnNwCC3N_ABu4Tw...,F,DOUTORADO,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,Classe A - Auxiliar ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,1239821,2015,1,6,9.75,0.45,9.13,1.12,8.86,1.37,2009

In [35]:
df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126294 entries, 0 to 126293
Data columns (total 18 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   nome                        126294 non-null  object
 1   sexo                        126294 non-null  object
 2   formacao                    126294 non-null  object
 3   vinculo                     126294 non-null  object
 4   categoria                   126294 non-null  object
 5   classe_funcional            126294 non-null  object
 6   lotacao                     126294 non-null  object
 7   id_turma                    126294 non-null  int64
 8   ano                         126294 non-null  int64
 9   periodo                     126294 non-null  int64
 10  qtd_discentes               126294 non-null  int64
 11  postura_profissional_media  126294 non-null  float64
 12  postura_profissional_DP     126294 non-null  float64
 13  atuacao_profissional_media  126294 non-null  float64
 14  atuacao_profissional_DP     126294 non-null  float64
 15  autoavaliacao_aluno_media   69850 non-null   float64
 16  autoavaliacao_aluno_DP      69850 non-null   float64
 17  ano_admissao                126294 non-null  int64
dtypes: float64(6), int64(5), object(7)
memory usage: 17.3+ MB

In [36]:
df.to_csv(
    '../CSVs/Finais/docentes_e_avaliação_criptografado.csv',  # Nome do arquivo de saída
    index=False,                # Não incluir o índice no arquivo
    sep=';',                    # Separador (padrão é vírgula)
    header=True,                # Incluir cabeçalho
)