# Pré-processamento

Primeiramente nós importamos as bibliotecas necessárias

In [1]:
import pandas as pd
import numpy as np

Abaixo estou lendo o arquivo já tratado pelo time de limpeza de dados.

In [2]:
crude_df = pd.read_csv('suicide_rates_limpo.csv', encoding='latin-1')
crude_df.head()

,RegionName,CountryName,Year,Sex,AgeGroup,SuicideCount,CauseSpecificDeathPercentage,DeathRatePer100K,Population,GDP,GDPPerCapita,InflationRate,EmploymentPopulationRatio,AgeMean
0,Europe,Albania,1992,Male,0-14 years,0.0,0.000000,0.000000,3247039.0,652174990.8,200.85222,226.005421,45.315,7.0
1,Europe,Albania,1992,Male,15-24 years,5.0,3.401361,3.531073,3247039.0,652174990.8,200.85222,226.005421,45.315,19.5
2,Europe,Albania,1992,Male,15-24 years,4.0,1.904762,3.276003,3247039.0,652174990.8,200.85222,226.005421,45.315,19.5
3,Europe,Albania,1992,Male,25-34 years,3.0,1.357466,2.487562,3247039.0,652174990.8,200.85222,226.005421,45.315,29.5
4,Europe,Albania,1992,Male,25-34 years,4.0,2.094241,3.202562,3247039.0,652174990.8,200.85222,226.005421,45.315,29.5

Algumas colunas não são relevantes para data mining, e outras terão que ser transformadas para funcionar corretamente, por exemplo Sex e AgeGroup.

In [ ]:
df = crude_df.drop(columns=["AgeGroup"]) # Já possuímos a coluna AgeMean
gender_map = {"Male": 0, "Female": 1} # Mapa para transformar strings em inteiros
df["Sex"] = df["Sex"].map(gender_map)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90208 entries, 0 to 90207
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   RegionName                    90208 non-null  object
 1   CountryName                   90208 non-null  object
 2   Year                          90208 non-null  int64
 3   Sex                           90208 non-null  int64
 4   SuicideCount                  90208 non-null  float64
 5   CauseSpecificDeathPercentage  87055 non-null  float64
 6   DeathRatePer100K              83567 non-null  float64
 7   Population                    90208 non-null  float64
 8   GDP                           89022 non-null  float64
 9   GDPPerCapita                  89022 non-null  float64
 10  InflationRate                 83206 non-null  float64
 11  EmploymentPopulationRatio     88062 non-null  float64
 12  AgeMean                       70772 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 8.9+ MB

Acima vemos que as duas variáveis não numéricas são as variáveis que podemos usar de _label_.